<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <label for="uName">Name*:</label>
        <input class="form-control" id="uName" type="text" formControlName="fName" placeholder="Ex: John" required>
      </div>
      <div class="col">
        <label for="uLname">Last Name*: </label>
        <input class="form-control" id="uLname" type="text" formControlName="lName" placeholder="Ex: Doe" required>
      </div>
    </div>
    <hr>
    <label for="uEmail">Adresse Mail*: </label>
    <input class="form-control" id="uEmail" type="email" formControlName="email" placeholder="Ex: John.Doe@monetix.com" required>
    <hr>
    <div class="form-row">
      <div class="col">
        <label for="uEnterprise">Company*: </label>
        <input class="form-control" id="uEnterprise" type="text" formControlName="company" placeholder="Ex: Monetix" required>
      </div>
      <div class="col">
        <label for="uMobile">Phone Number*: </label>
        <input class="form-control" id="uMobile" type="text" formControlName="uPhone" placeholder="Ex: (+216) xx 123 456" required>
      </div>
    </div>
    <hr>
    <!--
    <label>Services: </label>
    <div class="form-row">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" [(ngModel)]="mxService.assistance"> Assistance
        </label>
        <label class="form-check-label">
          <input type="checkbox" [(ngModel)]="mxService.training"> Training
        </label>
        <label class="form-check-label">
          <input type="checkbox" [(ngModel)]="mxService.consulting"> Consulting
        </label>
      </div>
    </div>
    <hr>
    -->
    <label for="uMsg">Send us a message: </label>
    <textarea class="form-control" id="uMsg" formControlName="uMsg" placeholder="Vous voulez mentienner quelque chose? N'hésitez pas!"></textarea>
  </div>

    <button type="submit" class="btn btn-success btn-apply">Send</button>

</form>
