
<header>
    <a routerLink="/" class="logo" href="#">Monetix</a>
    <nav>
      <ul>
        <li><a href="#" class="dropdown-item" routerLink="/">Home</a></li>
        <li><a href="#" class="dropdown-item" routerLink="/assistance">Assistance</a></li>
        <li><a href="#" class="dropdown-item" routerLink="/training">Training</a></li>
        <li><a href="#" class="dropdown-item" routerLink="/consulting">Consulting</a></li>
      </ul>
    </nav>
</header>

<div class="body-container">
  <router-outlet></router-outlet>
</div>
