/* You can add global styles to this file, and also import other style files */
/*importing Roboto Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/* Color Palette*/
/*[ {"name":"Navy Blue","hex":"03045e","rgb":[3,4,94]},
    {"name":"Star Command Blue","hex":"0077b6","rgb":[0,119,182]},
    {"name":"Cerulean Crayola","hex":"00b4d8","rgb":[0,180,216]},
    {"name":"Sky Blue Crayola","hex":"90e0ef","rgb":[144,224,239]},
    {"name":"Powder Blue","hex":"caf0f8","rgb":[202,240,248]}]*/
/*
$primary: rgb(0,180,216);

body {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.2em;
  background-color: azure;
}

header {
  display: flex;
  justify-content: space-between;
  background: $primary;
  padding: 1em 0;
  a {
    color: white;
    text-decoration: none;
  }
  a.logo {
    font-weight: bold;
    padding-left: 2em;
  }
  nav {
    float: right;
    ul {
      list-style-type: none;
      margin: 0;
      display: flex;
      li a {
        padding: 1em;
        &:hover {
          background: darken($primary, 10%);
        }
      }
    }
  }
}

p {
  font-size: 2em;
}

.body-container {
  width: 80%;
  margin: 2em auto;
  background-color: white;
  padding: 1.5em;
  p {
    float: left;
    font-size: 1.2em;
  }
  &.intro-block {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;

    input {
      padding: 1em;
      margin-bottom: 2em;
    }
  }
}

h1 {
  margin-top: 2em;
}
*/
/* Importing Bootstrap SCSS file. */
@import "~@angular/material/theming";
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome";

.navbar {
  @include mat-elevation(2);
  background-color: gray;
  margin: 0;
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 1rem;
}
.nav-link {
  font-size: 1.1rem;
}
.carousel-caption {
  top: 20%;
  text-shadow: 1px 1px 5px black;
  h1 {
    font-size: 3rem;
  }
}
.padding {
  padding-bottom: 2rem;
}
.intro {
  width: 80%;
  margin: 0 auto ; /*to center*/
  padding-top: 2rem;
  hr {
    width: 80%;
    border-top: 0.1rem solid gray;
  }
}

.fa-comment .fa-book .fa-user {
  font-size:5rem;
  margin: 1rem;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
  a {
    color: #d5d5d5;
  }
  hr{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin: .8rem auto 1rem;
  }
}

.container {
  @include mat-elevation(12);
}

.service-wrapper{
  padding-top: 2rem;
  padding-bottom: 2rem;
  .button-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
  }
  h5 {
    font-weight: bold;
    margin: .5rem auto;
    font-size: 1rem;
    user-select: none;
  }
  button{
    font-size: 1.5em;
    display: flex;
    justify-content: right;
    padding: .6rem 2rem;
  }
  button.apply-btn {
    margin: 2rem auto;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
