/* You can add global styles to this file, and also import other style files */
/* Color Palette*/
/*[ {"name":"Navy Blue","hex":"03045e","rgb":[3,4,94]},
    {"name":"Star Command Blue","hex":"0077b6","rgb":[0,119,182]},
    {"name":"Cerulean Crayola","hex":"00b4d8","rgb":[0,180,216]},
    {"name":"Sky Blue Crayola","hex":"90e0ef","rgb":[144,224,239]},
    {"name":"Powder Blue","hex":"caf0f8","rgb":[202,240,248]}]*/

$primary: rgb(0,180,216);

header {
  display: flex;
  justify-content: space-between;
  background: $primary;
  padding: 1em 0;
  a {
    color: white;
    text-decoration: none;
  }
  a.logo {
    font-weight: bold;
  }

  nav {
    float: right;
    ul {
      list-style-type: none;
      margin: 0;
      display: flex;
      li a {
        padding: 1em;

        &:hover {
          background: darken($primary, 10%);
        }
      }
    }
  }
}

body {
  margin: 0;
  font-family: 'Nunito', 'sans-serif';
  font-size: 18px;
  background-color: azure;
}

p {
  font-size: 2em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  margin-top: 2em;
}
