<ngb-carousel >
  <ng-template ngbSlide>
    <div class="credcard-img-wrapper">
      <img src="./assets/imgs/credcard2.jpg" alt="Credit card picture" class="d-block w-100">
    </div>
    <div class="carousel-caption">
      <h1>Welcome</h1>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="credcard-img-wrapper">
      <img src="./assets/imgs/credcard2.jpg" alt="Credit card picture" class="d-md-block w-100">
    </div>
    <div class="carousel-caption">
      <h1>Discover our services</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button type="button" class="btn btn-outline-light btn-lg" routerLink="/services">Learn More</button>
    </div>
  </ng-template>
</ngb-carousel>

<div class="container-fluid padding">
  <div class="row intro padding">
    <div class="col-12">
      <h1 class="display-4">Who are we ?</h1>
      <hr>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</div>

<div Class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-book"></i>
      <h3>Training</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-user"></i>
      <h3>Assistance</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <i class="fas fa-comment"></i>
      <h3>Consulting</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
  <hr class="my-4">
</div>
